.row{
margin-left: 20px;
margin-top: 30px;
}

.movies{
display: flex;
overflow-x: scroll;
}

.movie{
height: 200px;
margin-right: 10px;
transition: .3s ease-in;
border: 3px solid;
border-color:rgba(253, 253, 253, 0.253);
border-radius: 8px;
}

.movie:hover{
    transform: scale(1.08);
}

.movies::-webkit-scrollbar{
    display: none;

}